:root {
	--sfb-color-dark2: #1f373f;
	--sfb-color-dark1: #647474;
	--sfb-color-medium3: #8a9895;
	--sfb-color-medium2: #98a49c;
	--sfb-color-medium1: #afbbb4;
	--sfb-color-light3: #bbc5be;
	--sfb-color-light2: #c6cfcb;
	--sfb-color-light1: #d6dfdb;
	--sfb-color-white: #ffffff;
	--sfb-color-greendark: #788e71;
	--sfb-color-greenmedium: #91a18d;
}

@font-face {
	font-family: 'ely_rounded_medium';
	src: url('/fonts/ely_rounded_medium-webfont.woff2') format('woff2'),
		 url('/fonts/ely_rounded_medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'ely_rounded_medium';
	background-color: var(--sfb-color-medium2);
	color: var(--sfb-color-dark2);
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#sfbBuilderRoot {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	height: 100vh;
	overflow: hidden;
}

#sfbHeaderRoot {
	padding: 10px;
}

.sfbTitleLogo {
	background-color: var(--sfb-color-light2);
	border-left: 15px solid var(--sfb-color-dark2);
	border-right: 100px solid var(--sfb-color-light3);
	width: 25%;
	margin-bottom: 5px
}

.sfbTitleLogo img {
	max-height: 50px;
	user-select: none;
}

.sfbSubTitle {
	background-color: var(--sfb-color-dark2);
	color: var(--sfb-color-light2);
	height: 15px;
	width: 25%;
	font-size: 13px;
	border-left: 15px solid var(--sfb-color-dark2);
	border-right: 100px solid var(--sfb-color-dark2);
	border-bottom: 3px solid var(--sfb-color-dark2);
	white-space: nowrap;
	float: left;
}

.sfbHeaderLink {
	float: right;
}

.sfbSubTitleLine {
	height: 3px;
	background-color: var(--sfb-color-dark2);
	width: 100%;
}

.sfbSubTitleAELogo {
	float: right;
	position: relative;
	top: 10px;
}

#sfbButtonRoot {
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#sfbWarningRoot {
	color: #900;
	font-size: 16px;
	width: 100%;
	text-align: center;
}

.sfbSmallButton {
	width: 25px;
	border: 2px solid var(--sfb-color-dark2);
	border-radius: 10px;
	padding: 3px;
	margin: 5px;
	font-size: 13px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.sfbButton {
	border: 1px solid var(--sfb-color-dark2);
	padding: 2px;
	margin: 5px;
	font-size: 16px;
	display: inline-block;
	text-align: left;
	cursor: pointer;
	flex-grow: 1;
	white-space: nowrap;
}

.sfbButton:hover {
	background-color: var(--sfb-color-light3);
	border: 1px solid #ddebdf;
}

.sfbSmallButton:hover {
	background-color: var(--sfb-color-light3);
	border: 2px solid var(--sfb-color-light1);
}

.sfbButtonSelected {
	background-color: var(--sfb-color-medium1);
	border: 1px solid var(--sfb-color-medium1);
}

#sfbMainRoot {
	background-color: var(--sfb-color-medium1);
	flex-grow: 1;
	min-height: 100px;
	border-top: 2px solid var(--sfb-color-light2);
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.sfbMainTab {
	padding-left: 25px;
	flex-grow: 1;
}

#sfbFooterRoot {
	height: 100px;
	background-color:  var(--sfb-color-medium3);
}

.sfbFooterBox {
	float: right;
}

.sfbFooter {
	margin-right: 25px;
	margin-left: 25px;
	border-top: 2px solid var(--sfb-color-dark2);
	border-bottom: 2px solid var(--sfb-color-dark2);
	height: 80px;
	font-size: 18px;
	padding-left: 25px;
	vertical-align: middle;
	line-height: 80px;
}

#sfbEmployeeNumber {
	font-size: 14px;
	display: inline-block;
	padding-left: 20px;
}

.sfbTabTitle {
	font-size: 24px;
	color: var(--sfb-color-dark1);
	padding-bottom: 25px;
}

.sfbPanels {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.sfbLeftPanel {
	position: relative;
	float: left;
	height: 100%;
	box-sizing: border-box;
	flex-grow: 1;
}

.sfbLeftPanelFixed {
	position: relative;
	float: left;
	height: 100%;
	box-sizing: border-box;
}

.sfbRightPanel {
	float: right;
	text-align: center;
	position: relative;
	height: 100%;
	box-sizing: border-box;
	flex-grow: 1;
	min-width: 300px;
}

.sfbRightPanelFixed {
	float: right;
	text-align: center;
	position: relative;
	height: 100%;
	box-sizing: border-box;
}

.sfbValuePanel {
	min-width: 300px;
	max-width: 600px;
}

.sfbPanelPadding {
	padding: 10px;
}

.sfbPanelMedWidth {
}

.sfbPanelScroll {
	
}

.sfbPanelJustifyVertical {
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
}

.sfbTabNote {
	border-top: 1px solid var(--sfb-color-dark2);
	border-bottom: 1px solid var(--sfb-color-dark2);
	padding-bottom: 25px;
	margin-bottom: 25px;
	margin-right: 10px;
    padding-top: 25px;
	position: absolute;
	bottom: 0;
}

#sfbCharacterPortrait, #sfbFacePortrait, #sfbBodyPortrait, #sfbBackgroundPortrait, #sfbTraitPortrait {
	height: 100%;
	user-select: none;
}

#sfbCharacterPortrait1 {
	user-select: none;
	position: absolute;
	z-index: 10;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

.sfbBodyNote {
}

.sfbBodyDialRoot {
	min-height: 200px;
	background-color: var(--sfb-color-light3);
	padding: 10px;
	text-align: center;
}

.sfbBodyDialRoot1 {
	display: inline-block;
	position: relative;
	margin-top: 10px;
	min-width: 225px;
}

.sfbBodySubTitle {
	font-size: 20px;
	padding: 5px;
}

#sfbBodyDialImage {
	height: 100%;
	user-select: none;
}

#sfbBodyDialMarker {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	position: absolute;
	background-color: var(--sfb-color-dark2);
	box-shadow: 0 0 20px 20px rgb(255 255 255 / 75%);
}

.sfbValueControl {
}

.sfbValueControlTitle {
	font-size: 20px;
	padding: 5px;
}

.sfbValueControlRoot {
	display: flex;
	flex-direction: row;
	background-color: var(--sfb-color-light3);
	padding: 5px;
}

.sfbValueControlText {
	padding: 5px;
	font-size: 20px;
	flex-grow: 1;
	color: var(--sfb-color-dark1);
}

.sfbValueControlDnaText {
	font-size: 20px;
	float: right;
	padding: 5px;
}

.sfbValueControlDnaImage {
	display: inline-block;
	flex-grow: 1;
	width: 100%;
	height: 22px;
	margin-top: 5px;
	user-select: none;
	background-image: url("/images/dna_light.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.sfbValueControlDnaMarker {
	position: absolute;
	height: 22px;
	width: 6px;
	filter: brightness(20%);
	background-color: rgba(150, 250, 250, 0.9);
	background-blend-mode: multiply;
	left: 40px;
	margin-top: 5px;
	box-shadow: 0px 0px 2px 2px var(--sfb-color-light1);
	border-radius: 2px;
}

.sfbValueControlButton {
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
	line-height: 20px;
	color: var(--sfb-color-white);
	padding: 5px;
	user-select: none;
}

.sfbValueControlButton:hover {
	color: var(--sfb-color-white);
	background-color: var(--sfb-color-medium2);
}

.sfbValueControlSelected {
	background-color:  var(--sfb-color-dark2);
	color:  var(--sfb-color-light3);
}

.sfbValueControlSelected .sfbValueControlRoot {
	background-color: var(--sfb-color-dark2);
}

.sfbValueControlSelected .sfbValueControlDnaImage {
	background-image: url("/images/dna_dark.png");
}

.sfbValueControlSelected .sfbValueControlDnaMarker {
	filter: brightness(150%);
	background-color: rgba(200, 200, 100, 1);
	background-blend-mode: multiply;
	box-shadow: 0px 0px 2px 2px #fcc;
	border-radius: 2px;
}
.sfbValueControlSelected .sfbValueControlText {
	color: var(--sfb-color-light3);
}

#sfbBackgroundTitle {
	font-size: 26px;
	text-align: left;
	padding-left: 50px;
	padding-right: 25px;
	padding-top: 50px;
	padding-bottom: 15px;
}

#sfbBackgroundText {
	font-size: 18px;
	text-align: left;
	padding-left: 50px;
	padding-right: 25px;
	padding-bottom: 25px;
}

#sfbBackgroundSkills {
	text-align: left;
	padding-left: 50px;
	padding-right: 25px;
	display: flex;
	flex-direction: row;
}

.sfbBackgroundSkillTitle {
	font-size: 20px;
	background-color: var(--sfb-color-medium3);
	color: var(--sfb-color-light1);
	padding: 3px;
	margin-right: 28px;
	margin-left: 53px;
	text-align: left;
	padding-left: 10px;
}

#sfbBackgroundList {
	font-size: 18px;
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
	flex-direction: column;
	margin: 0;
	margin-right: 20px;
}

#sfbBackgroundList li {
	text-align: left;
	list-style: none;
	flex-grow: 1;
	white-space: nowrap;
	padding: 3px;
	cursor: pointer;
	user-select: none;
}

.sfbBackgroundListSelected {
	background-color: var(--sfb-color-light1);
}

#sfbBackgroundList li:hover {
	background-color: var(--sfb-color-light1);
}

.sfbBackgroundSkillPanel {
	flex-grow: 1;
	flex-basis: 0;
	background-color: var(--sfb-color-light1);
	border: 2px solid var(--sfb-color-medium3);
	margin: 3px;
	text-align: center;
}

.sfbBackgroundSkillPanel img {
	padding: 3px;
}

.sfbBackgroundSkillSubTitle {
	text-transform: capitalize;
	background-color: var(--sfb-color-medium3);
	color: var(--sfb-color-light1);
	padding: 2px;
	font-size: 20px;
	text-align: left;
}

.sfbBackgroundSkillText {
	font-size: 16px;
	padding: 3px;
	text-align: left;
	min-height: 100px;
}

#sfbTraitTitle {
	font-size: 26px;
	text-align: left;
	padding-left: 50px;
	padding-right: 25px;
	padding-top: 50px;
	padding-bottom: 15px;
}

#sfbTraitText {
	font-size: 18px;
	text-align: left;
	padding-left: 50px;
	padding-right: 25px;
	padding-bottom: 25px;
}

#sfbTraitUsedTitle {
	background-color: var(--sfb-color-greendark);
	color: var(--sfb-color-white);
	padding: 3px;
	font-size: 18px;
	border: 2px solid var(--sfb-color-greendark);
	text-align: left;
	margin-left: 50px;
	margin-right: 25px;
	margin-top: 50px;
}

.sfbTraitUsedRow {
	background-color: var(--sfb-color-greenmedium);
	color: var(--sfb-color-white);
	border: 2px solid var(--sfb-color-greendark);
	padding: 3px;
	text-align: left;
	margin-left: 50px;
	margin-right: 25px;
	margin-top: -2px;
	height: 64px;
	line-height: 64px;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
}

.sfbTraitUsedRow img {
	height: 64px;
	width: 64px;
	vertical-align: middle;
}

.sfbTraitUsedText {
	font-size: 16px;
	display: inline-block;
	padding-left: 10px;
}

.sfbTraitUsedOptional {
	font-size: 16px;
	background-color: var(--sfb-color-light2);
	color: var(--sfb-color-dark3);
}

#sfbTraitList {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
	flex-direction: column;
	margin: 0;
}

#sfbTraitList li {
	text-align: left;
	list-style: none;
	flex-grow: 1;
	white-space: nowrap;
	padding: 3px;
	cursor: pointer;
	padding-left: 20px;
	user-select: none;
}

.sfbTraitListSelected {
	background-color: var(--sfb-color-light1);
}

#sfbTraitList li:hover {
	background-color: var(--sfb-color-light1);
}

.sfbTraitListChoosen:before {
	content: url("/images/check.png");
	position: absolute;
	left: 50px;
	width: 16px;
	height: 16px;
	margin-top: 2px;
}

.sfbTraitListExcluded:before {
	content: url("/images/cross.png");
	position: absolute;
	left: 50px;
	width: 16px;
	height: 16px;
	margin-top: 2px;
}

.sfbBackgroundSkillsRoot {
	position: absolute;
	bottom: 25px;
	width: 100%;
}

.sfbTraitUsedRoot {
	position: absolute;
	bottom: 25px;
	width: 100%;
}